<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.orders.mapper.OrdersMapper">
    
    <resultMap type="Orders" id="OrdersResult">
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="orderTime"    column="order_time"    />
        <result property="orderState"    column="order_state"    />
    </resultMap>

    <sql id="selectOrdersVo">
        select order_id, user_id, order_time, order_state from orders
    </sql>

    <select id="selectOrdersList" parameterType="Orders" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="params.beginOrderTime != null and params.beginOrderTime != '' and params.endOrderTime != null and params.endOrderTime != ''"> and order_time between #{params.beginOrderTime} and #{params.endOrderTime}</if>
            <if test="orderState != null  and orderState != ''"> and order_state = #{orderState}</if>
        </where>
    </select>
    
    <select id="selectOrdersByOrderId" parameterType="Long" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertOrders" parameterType="Orders" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="orderState != null">order_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="orderState != null">#{orderState},</if>
         </trim>
    </insert>

    <update id="updateOrders" parameterType="Orders">
        update orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrdersByOrderId" parameterType="Long">
        delete from orders where order_id = #{orderId}
    </delete>

    <delete id="deleteOrdersByOrderIds" parameterType="String">
        delete from orders where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>